# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# Visual Studio user files
*.user
*.suo

# Xamarin Studio user files
*.userprefs

# Resharper folder
_ReSharper.*

# unit test files
TestResults
TestResult.xml
*VisualState.xml

# Upgrade files (I'm going to keep getting these using different express editions, etc)
UpgradeLog*
_UpgradeReport_Files

